<%- include('partials/header.ejs') %>
<h2 id="Title2">Coming Soon</h2>
<hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">
<div class="ComingSoon">
    <a target="_blank" href="https://www.google.com/">
      <img src="https://www.keeptrailers.com/wp-content/uploads/2021/01/A-Quiet-Place-2-Poster-6-690x1000.jpg" alt="Indiana Jones1" >
    </a>
    <div class="Showingdesc2">INDIANA JONES & THE KINGDOM OF THE CRYSTAL SKULL<p class="releaseDate">RELEASE DATE : 2020-04-02</p></div>
  </div>
  <div class="ComingSoon">
    <a target="_blank" href="https://www.google.com/">
      <img src="https://www.keeptrailers.com/wp-content/uploads/2021/01/A-Quiet-Place-2-Poster-6-690x1000.jpg" alt="Indiana Jones2">
    </a>
    <div class="Showingdesc2">INDIANA JONES & THE KINGDOM OF THE CRYSTAL SKULL<p class="releaseDate">RELEASE DATE : 2020-04-02</p></div>
  </div>
  <div class="ComingSoon">
    <a target="_blank" href="https://www.google.com/">
      <img src="https://www.keeptrailers.com/wp-content/uploads/2021/01/A-Quiet-Place-2-Poster-6-690x1000.jpg" alt="Indiana Jones" >
    </a>
    <div class="Showingdesc2">INDIANA JONES & THE KINGDOM OF THE CRYSTAL SKULL<p class="releaseDate">RELEASE DATE : 2020-04-02</p></div>
  </div>
  <div class="ComingSoon">
    <a target="_blank" href="https://www.google.com/">
      <img src="https://www.keeptrailers.com/wp-content/uploads/2021/01/A-Quiet-Place-2-Poster-6-690x1000.jpg" alt="Indiana Jones" >
    </a>
    <div class="Showingdesc2">INDIANA JONES & THE KINGDOM OF THE CRYSTAL SKULL<p class="releaseDate">RELEASE DATE : 2020-04-02</p></div>
  </div>
  <div class="ComingSoon">
    <a target="_blank" href="https://www.google.com/">
      <img src="https://www.keeptrailers.com/wp-content/uploads/2021/01/A-Quiet-Place-2-Poster-6-690x1000.jpg" alt="Indiana Jones">
    </a>
    <div class="Showingdesc2">INDIANA JONES & THE KINGDOM OF THE CRYSTAL SKULL<p class="releaseDate">RELEASE DATE : 2020-04-02</p></div>
  </div>
  <div class="ComingSoon">
    <a target="_blank" href="https://www.google.com/">
      <img src="https://www.keeptrailers.com/wp-content/uploads/2021/01/A-Quiet-Place-2-Poster-6-690x1000.jpg" alt="Indiana Jones">
    </a>
    <div class="Showingdesc2">INDIANA JONES & THE KINGDOM OF THE CRYSTAL SKULL<p class="releaseDate">RELEASE DATE : 2020-04-02</p></div>
  </div>
  




<%- include('partials/footer.ejs') %>