<%- include('partials/header.ejs') %>
<div class="infoMovie">
    <!-- <div class="bigPicture">
        <img src="https://www.lucasfilm.com/app/uploads/skull-marquee-4.jpg">
    </div> -->
    <div class="leftSide">
        <div class="leftSideContent">
            <img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/bba704f3679ec1417ad275686db81fb6806d55a2da1818b05e6a6e6c42f96d90._RI_V_TTW_.jpg" width="300px" class="imgMovie">
            <div class="leftButton">
                <a href="/Ticket">
                    <button class="GetTicketBTN"><img src="../public/image/" width="1rem">Get Ticket</button>
                </a>
            </div>
        </div>
        

    </div>
    <div class="rightSide">

    </div>

</div>

<%- include('partials/footer.ejs') %>