<%- include('partials/header.ejs') %>

    <h2 class="boxOffice">Box Office</h2>
    <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">
    <div class="BoxofficeGallery">
          <div class="gallery">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/movie-poster-template-design-21a1c803fe4ff4b858de24f5c91ec57f_screen.jpg?ts=1574144362" alt="Movie" width="800" height="400">
            <h3 class="numberBoxoffice1"><i class="las la-crown"></i>1</h3>
            <div class="desc">The Conjuring 2 : The Enfield Poltergeist</div>
          </div>
        
          <div class="gallery">
            <img src="https://i.pinimg.com/originals/27/1d/1e/271d1e11f9a6bb766f77b9db427c2080.jpg" alt="Movie" width="800" height="400">
            <h3 class="numberBoxoffice2"><i class="las la-crown"></i>2</h3>
            <div class="desc">The Conjuring 2 : The Enfield Poltergeist</div>
          </div>
        
          <div class="gallery">
            <img src="https://hips.hearstapps.com/digitalspyuk.cdnds.net/17/12/resident-evil-the-final-chapter-international-movie-poster.jpg" alt="Movie" width="800" height="400">
            <h3 class="numberBoxoffice3"><i class="las la-crown"></i>3</h3>
            <div class="desc">The Conjuring 2 : The Enfield Poltergeist</div>
          </div>
        
          <div class="gallery">
            <img src="https://cdn.shopify.com/s/files/1/1416/8662/products/titanic_1997_original_film_art_dfbd6b72-6ccb-422c-b34f-82c81d2c9d86_1200x.jpg?v=1617659236" alt="Movie" width="800" height="400">
            <h3 class="numberBoxoffice4"><i class="las la-crown"></i>4</h3>
            <div class="desc">The Conjuring 2 : The Enfield Poltergeist</div>
          </div>
          <div class="gallery">
            <img src="https://lh3.googleusercontent.com/KwA2KFCR44bp3Jut2L6stqoFZ7z8x9jWC9sm5gZD6Jf7Hi2c6CGtkasAR1OO3XVGHkqg2-CKm1-Ifm25w7V20M7f6wkAMiuW38w=w260" alt="Movie" width="800" height="400">
            <h3 class="numberBoxoffice5"><i class="las la-crown"></i>5</h3>
            <div class="desc">The Conjuring 2 : The Enfield Poltergeist</div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="promotionSP">Special Promotion</h2>
    <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">
    <div class="PromotionContainer1">
    <div class="PromotionContainer">
          <div class="SPM1" >
            <a style="text-decoration: none;"href="https://www.google.com">
              <img src="https://images.unsplash.com/photo-1523207911345-32501502db22?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcGNvcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width: 60%;padding-top: 5px;">
              <p>The caramel popcorn is coming.</p>
            </a>
          </div>
          <div class="SPM2" >
            <a style="text-decoration: none;"href="https://www.google.com">
              <img src="https://images.unsplash.com/photo-1523207911345-32501502db22?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcGNvcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width: 60%;padding-top: 5px;">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, labore.</p>
            </a>
          </div>
          <div class="SPM3" >
            <a style="text-decoration: none;" href="https://www.google.com">
              <img src="https://images.unsplash.com/photo-1523207911345-32501502db22?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcGNvcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width: 60%;padding-top: 5px;">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, labore.</p>
            </a>
          </div>
          <div class="SPM4" >
            <a style="text-decoration: none;" href="https://www.google.com">
              <img src="https://images.unsplash.com/photo-1523207911345-32501502db22?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcGNvcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width: 60%;padding-top: 5px;">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, labore.</p>
            </a>
          </div>
          <div class="SPM5" >
            <a style="text-decoration: none;" href="https://www.google.com">
              <img src="https://images.unsplash.com/photo-1523207911345-32501502db22?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcGNvcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width: 60%;padding-top: 5px;">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, labore.</p>
            </a>
          </div>
          <div class="SPM6" >
            <a style="text-decoration: none;" href="https://www.google.com">
              <img src="https://images.unsplash.com/photo-1523207911345-32501502db22?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBvcGNvcm58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="width: 60%;padding-top: 5px;">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque, labore.</p>
            </a>
          </div>   
     </div>
    </div>
      <button class="MoreOption"><a style="text-decoration: none;" href="http://localhost:3000/Promotion" > More</a></button>
     
    <h2 class="NewActivity">News&nbsp;&amp;&nbsp;Activities</h2>
    <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">
     <div class="NEWS1"> 
        <p><img src="https://images.firstpost.com/wp-content/uploads/2018/04/Avatar_1200.jpg" alt="Pineapple" style="width:30%;" class="imgNews1"><h3 class="TitleNews">Avatar 2 is coming in 2022</h3>
          <span class="Text">&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis doloremque numquam error excepturi. Autem doloribus commodi illo voluptate quos aperiam esse itaque, similique inventore vitae quo officiis possimus? Magnam molestias ipsum dolorem tempora dicta unde quam beatae dolorum corporis quaerat.
            </span></p>

     </div>
     <div class="NEWS2"> 
      <p><img src="http://www.geekchicelite.com/wp-content/uploads/2016/07/titanic.jpg" alt="Pineapple" style="width:30%;" class="imgNews2"><h3 class="TitleNews">Titanic will be comeback?</h3>
        <span class="Text">&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis doloremque numquam error excepturi. Autem doloribus commodi illo voluptate quos aperiam esse itaque, similique inventore vitae quo officiis possimus? Magnam molestias ipsum dolorem tempora dicta unde quam beatae dolorum corporis quaerat.
          </span></p>

     </div>
   <div class="NEWS1"> 
    <p><img src="https://thestandard.co/wp-content/uploads/2020/09/UPDATE-James-Cameron-%E0%B9%80%E0%B8%9C%E0%B8%A2-Avatar-2-%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B9%87%E0%B8%88%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B8%A3%E0%B9%89%E0%B8%AD%E0%B8%A2-%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99%E0%B8%A0%E0%B8%B2%E0%B8%84-3-%E0%B8%84%E0%B8%B7%E0%B8%9A%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B9%84%E0%B8%9B%E0%B8%81%E0%B8%A7%E0%B9%88%E0%B8%B2-95-%E0%B9%80%E0%B8%9B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B9%80%E0%B8%8B%E0%B9%87%E0%B8%99%E0%B8%95%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B9%89%E0%B8%A73.jpg" alt="Pineapple" style="width:30%;" class="imgNews1"><h3 class="TitleNews">Avatar 2 is coming in 2022</h3>
      <span class="Text">&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis doloremque numquam error excepturi. Autem doloribus commodi illo voluptate quos aperiam esse itaque, similique inventore vitae quo officiis possimus? Magnam molestias ipsum dolorem tempora dicta unde quam beatae dolorum corporis quaerat.
        </span></p>
     </div>
     <button class="MoreOption"><a style="text-decoration: none;" href="http://localhost:3000/News" > More</a></button>

     
     
<%- include('partials/footer.ejs') %>