<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/CSS/signup.css">
</head>
<body>
    <center>
        <form  class="container" >
           
                 <div>
                    <h2 style="margin: 5px; text-align: center;">
                        Hello World!
                    </h2>
                    <p style="margin: 5px; text-align: center;">
                        Welcome to our website.
                    </p>
                </div>
                <hr>
    
                <div class="Email">
                    <input type="email"  placeholder = "Email"required >
                </div>
            
                <div class="Username">
                    <input type ="text"  placeholder = "Username"required >
                </div> 
                <div class="Password"> 
                    <input type ="password"  placeholder = "Password"required >
                </div>
                <!-- <div style="margin-top: 5px;"> -->
                    <button type="submit" class="signUpbtn">Sign Up</button>
                </div>
                 
        </form>
        </center>
</body>
</html>
