<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/signIn.css">
    <title>GG | Sign In</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="signup">
                <h1 style="color:white;font-size: 36px; margin-bottom: 10px;">GG Theater</h1>
                <div class="form">
                    <h1>Sign In</h1>
                    <p>Welcome Back! Enjoy the Movies</p>
                    <form action="/signIn" method='POST'>
                        <label><input type="text" placeholder="Email" name="email" class="email" /></label> 
                        <label><input type="password" placeholder="Password" name="password" class="password" /></label>
                        <label><input type="submit" value="Sign In" /></label>
                    </form>
                    <a href="/forgotPassword" style="margin-bottom: -10px;font-size: 12px;margin-left: auto;margin-right: auto;display:block;">Forgot your password?</a>
                </div>
                <h6 style="color: white;">Don't have an account?<a href="/signUp"><span class="createAccount">Create Account</span></a></h6>
            </div>
        </div>
    </div>
    
</body>
</html>