
<%- include('partials/header.ejs') %>
<div class="content">
        <img src="https://static.vecteezy.com/system/resources/previews/002/065/127/original/cinema-movie-theater-with-blank-screen-and-red-seats-illustration-free-vector.jpg" width="50%" class="imgTheater1" >
        <center>
            <div class="First">
                <ul class="scrollBar">
                
                    <li class="scrollBarList"><a class="headName" href="#BrandHead"> <img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="16px">Band</a></li>
                    
                    <li class="scrollBarList"><a class="headName" href="#SystemHead"><img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="16px">System</a></li>
                    
                    <li class="scrollBarList"><a class="headName" href="#SeatHead"><img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="16px">Seat Type</a></li>
                    
                    <li class="scrollBarList"><a class="headName" href="#LocationHead"><img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="16px">Location</a></li>          
                </ul>
            </div>
        </center>

        <h1 class="BrandTitle" id="BrandHead">Brand</h1>
        <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

        <center>
            <div id="Brand">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
            </div>
        </center>

        <h1 class="BrandTitle" id="SystemHead">System</h1>
        <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

        <center>
            <div id="System">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
            </div>
        </center>

        <h1 class="BrandTitle" id="SeatHead">Seat Type</h1>
        <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

        <center>
            <div id="SeatType">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
            </div>
        </center>

        <h1 class="BrandTitle" id="LocationHead">Location</h1>
        <hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

        <center>
            <div id="Location">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
                <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
            </div>
        </center>
    </div>    
<%- include('partials/footer.ejs') %>


