<%- include('partials/header.ejs') %>


<div class="content">
        
</div>
<div class="layer1">
           <div class="left-side">
                
           </div>
           <div class="right-side">

           </div>
   </div>












<%- include('partials/footer.ejs') %>