<%- include('partials/header.ejs') %>

<img src="https://static.vecteezy.com/system/resources/previews/002/065/127/original/cinema-movie-theater-with-blank-screen-and-red-seats-illustration-free-vector.jpg" width="50%" class="imgTheater1" >
<div class="First">
    <ul class="scrollBar">
       
        <li class="scrollBarList"><a href="#Brand"> <img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="5%">Band</a></li>
        
        <li class="scrollBarList"><a href="#System"><img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="5%">System</a></li>
        
        <li class="scrollBarList"><a href="#SeatType"><img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="5%">Seat Type</a></li>
        
        <li class="scrollBarList"><a href="#Location"><img src="https://popupfilmresidency.org/wp-content/uploads/2019/05/white-down-arrow-png-2.png" width="5%">Location</a></li>          
    </ul>
</div>

<h2 class="BrandTitle">Brand</h2>
<hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

<div id="Brand">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
</div>

<h2 class="BrandTitle">System</h2>
<hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

<div id="System">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
</div>

<h2 class="BrandTitle">Seat Type</h2>
<hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

<div id="SeatType">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
</div>

<h2 class="BrandTitle">Location</h2>
<hr style="width:50%;margin-left:auto;margin-right:auto;border-width: 2px;border-color: pink;">

<div id="Location">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
        <img src="https://img.wongnai.com/p/1920x0/2017/11/23/1302b6ec2ed64282b41088d07509355a.jpg" class="Brand1">
</div>


<%- include('partials/footer.ejs') %>