
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>| GG Theater</title>
        <link rel="shortcut icon" type="image/jpg" href="https://www.flaticon.com/svg/vstatic/svg/686/686458.svg?token=exp=1620580317~hmac=7a3d30615ce78971ff7de4d63355e788"/>
        <link rel="stylesheet" href="/CSS/Theater.css">
</head>
<body>
        
</body>
</html>
<div class="content">
    <div clas="iconBack">
    
    <a style="text-decoration: none;"href="/"><i class="arrow left"></i></a>
    </div>

</div>



