<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= <div class="box">
        <div class='inner'>
        <h1>David Guetta tour 2012</h1>
        <div class='info clearfix'>
          <div class='wp'>Tickets<h2>1</h2></div>
          <div class='wp'>Type<h2>VIP</h2></div>
          <div class='wp'>Disc<h2>5%</h2></div>
        </div>
        <div class='total clearfix'>
          <h2>Total : <p>$ 2.000</p></h2>
        </div>
        </div>
      </div>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

