.footer{
    clear: both;
    background-color: rgb(247, 149, 165);
    width: 100%;
    height: 150px;
    padding-top: 2%;
    color: white;
    text-align: center;
    margin-top: 50px;

   
 
}
/* .ICON{
    margin-top: 1%;
    
} */