.footer{
    clear: both;
    background-color: rgb(247, 149, 165);
    width: 100%;
    height: 150px;
    margin-top: 5%;
    padding-top: 2%;
    color: white;
    text-align: center;
   
 
}
.ICON{
    margin-top: 1%;
    
}