 #header {
  background: black url('https://cdn.wallpapersafari.com/10/48/sfWn4h.jpg') center no-repeat;
  height: 300px;
}

#header h2{
  margin: 0px;
  color:rgb(247, 149, 165);
  text-shadow: 2px 2px black;
  font-weight: bold;
  font-size: 36pt;
  background-color: white;
  width: 210px;
  padding: 5px;
  border-radius: 15px;
}
  .Menu {
    text-align: center;
    background-color:rgb(247, 149, 165);
    font-family: 'Poppins', sans-serif;
  }
  *{
    margin: 0;
    padding: 0;
  }
.title{
  padding-top: 60px;
}

 
  #head-nav.bg-dark, #head-nav.navbar-dark {
    background-color: rgb(247, 149, 165)!important;
    font-family: 'Poppins', sans-serif;
    font-size: 14pt ;
  }
  .navBar2{
    display: inline;
    font-family: 'Poppins', sans-serif;
  }
  
  .navBar2 a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
   
    
  }
  
  .navBar2 a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 100, 126);
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  li.dropdown {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Poppins', sans-serif;
  }
  
  .dropdown-content a {
    color:rgb(247, 149, 165);;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    
    
  }
  
  .dropdown-content a:hover {
    background-color: rgb(247, 149, 165);
    color : white;

    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;

  }

 
  /* .signIn-signUp{
      position: static;
      margin-left:90%;
      margin-top: -150px;
      color :white;
  } */

  .material-icons.md-48 { 
    font-size: 24pt; 
  }
  
  a {
    text-decoration: none;
  }

  .signIn_Up{
    font-size: 16pt;
    position: absolute;
    margin-left: 1300px;
    margin-top: -90px;
    color: rgb(247, 149, 165);
    font-weight: bold;
  }
#sign-in.btn-danger {
  color: #fff;
  background-color: rgb(247, 149, 165);
  border-color: rgb(247, 149, 165);
  float: right;
  margin: 10px 10px 0px 0px;
}