
.PromotionPage{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 3%;
    color:  rgb(247, 149, 165);
 
}
#promotion-card.card{
    background-color: #fff !important;
}

.card-deck{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.card img{
    width: 100%;
    height: 80%;
}

.card-title{

    font-family: inherit;
    font-weight: 500;
    color: rgb(247, 149, 165);
    letter-spacing: .025em;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    display: block;
   
}

.card-text{

    font-family: SmarnFilm Condensed,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .025em;
    color: #1e1f24;
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
    display: block;
    -webkit-line-clamp: 2;
    max-height: 33.6px;
    text-overflow: ellipsis;
    overflow: hidden;
}



.carousel-item{
    height: 32rem;
    background:black;
    color: pink;
    position :absolute;
    
}
/* 
.container{
    position: relative;
    bottom:0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
} */


.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
