html, body, div, form, input, label, ul, li, h1, h2, p{
   margin: 0;
   padding: 0;
    box-sizing: border-box; }
 
 ul, li{
    list-style: none;
 }
   
 img{
    border: 0;
 }
 
 /* css */
 html, body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: #F4F4F5;
 }
 
 /* signup form */
 /* center css */
 .main{
    display: table;
    width: 100%;
    height: 100%;
 }
 
 .container{
    display: table-cell;
    text-align: center;
    vertical-align: middle
 }
 
 /* signup */
 .signup{
    background: #FFF;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 60px 0;
    background-image: linear-gradient(-255deg, #e7afd4 0%, #ff7dd4 80%, #f35fc2 100%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.053), 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
 }
 
 .signup:after{
    content: " ";
    display: table;
    clear: both;
 }
 /* from */
 .signup .form, 
 .signup .features{
    display: inline-block;
    position: relative;
    text-align: left;
 }
 
 .signup .form{
    width: 70%;
    background: #fff;
    /* left: 0px; */
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.1);
    padding: 40px 45px;
    border-radius: 4px;
    z-index: 2
 }
 
 .signup .features{
    width: 30%;
    left: -80px
 }
 
 
 /* form */
 .signup h1{
    font-size: 36px;
 }
 
 .signup p{
    font-size: 16px;
    color: #666;
    font-weight: 300;
    padding: 15px 0;
 }
 
 .signup label{
    display: block;
 }
 
 .signup form{
    margin-top: 15px;
 }
 
 .signup input{
    width: 100%;
    height: 45px;
    padding: 0 35px;
    /* bordr-radius: 2px; */
    margin-bottom: 10px;
    border: 1.5px solid #d0d0d0;
    font-family: 'Open Sans', sans-serif;
 }
 
 .signup input.email{
    background: url(https://res.cloudinary.com/fazurrehman/image/upload/v1485168692/dailyui/email.png) left 10px center no-repeat;
 }

 .signup input.username{

   background: url(https://i.dlpng.com/static/png/6824333_preview.png);

 }
 
 .signup input.password{
    background: url(https://res.cloudinary.com/fazurrehman/image/upload/v1485168692/dailyui/password.png) left 5px center no-repeat;
 }
 
 
 .signup input[type=submit]{
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    margin-top: 15px;
    background-image: linear-gradient(-255deg, #eb4fb7 0%, #fc7ad1 80%, #eb4fb7 100%);
    box-shadow: 0 10px 20px rgba(99, 201, 240, 0.1), 0 14px 56px rgba(99, 201, 240, 0.024);
    color: #fff;
 
 }
 
 /* features */
 .features{
    padding-top: 15px;
 }
 
 .features h3{
    font-size: 28px;
    color: #fff;
    font-weight: 600
 }
 
 .features li{
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px;
    background: url(https://res.cloudinary.com/fazurrehman/image/upload/v1485170272/dailyui/check.png) left top no-repeat;
    padding-left: 30px;
    margin-bottom: 5px;
 }
 
 
 /* plan */
 .plan{
    position: absolute;
    bottom: 0;
    right: -130px;
    z-index: 1
 }
 