.imgTheater1{
    width: 100%;
}
.First{
    background-color: rgb(247, 149, 165);
    width: 100%;
    display: block;
    border-radius: 25px;
    height: 100px;
    margin-top: -70px;
    position: relative;
}
.scrollBar{
    list-style: outside;
    display: flex;
}
.scrollBarList{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    font-weight: bold; 
}
.BrandTitle{ 
    font-weight: bolder;
    text-align: center;
    margin-top: 3%;
    color:  rgb(247, 149, 165);
}
#Brand{
    width: 90%;
    display: inline-block;
    text-align: center;
    
}
.headName{
    color: white;
    font-size: 14pt;
}
.Brand1{
    width: 200px;
    border: 1px dashed rgb(247, 149, 165);
}
#System{
    width: 90%;
    display: inline-block;
    text-align: center;
}
#SeatType{
    width: 90%;
    display: inline-block;
    text-align: center;
}
#Location{
    width: 90%;
    display: inline-block;
    text-align: center;
}

  









/* 

.imgTheater1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}
.First{
    background-color: rgb(247, 149, 165);
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: 100px;
    margin-top: -70px;
    position: relative;
  

}
.scrollBar{
    list-style: outside;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 4%;
    padding-left: 25%;

}

.scrollBarList{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-left: 3%;
    color: white;
    font-weight: bold;
    
    
}

.BrandTitle{
  
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 3%;
    color:  rgb(247, 149, 165);
   
}



#Brand{
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    
}

.Brand1{
    float: left;
    width: 200px;
    border: 1px dashed rgb(247, 149, 165);
    margin-left: 3%;

    
}
#System{
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    
}
#SeatType{
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    
} */