.content{
    background-image:url("https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
}










/* 

.imgTheater1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}
.First{
    background-color: rgb(247, 149, 165);
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: 100px;
    margin-top: -70px;
    position: relative;
  

}
.scrollBar{
    list-style: outside;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 4%;
    padding-left: 25%;

}

.scrollBarList{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-left: 3%;
    color: white;
    font-weight: bold;
    
    
}

.BrandTitle{
  
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 3%;
    color:  rgb(247, 149, 165);
   
}



#Brand{
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    
}

.Brand1{
    float: left;
    width: 200px;
    border: 1px dashed rgb(247, 149, 165);
    margin-left: 3%;

    
}
#System{
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    
}
#SeatType{
    width: 90%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 3%;
    
} */