<%- include('partials/header.ejs') %>


<h1>I am<%= hero %></h1>   

<%if (hero=='ironman'){%>
    <p>I am Tony Stark!</p>
<%}else{%> 
    <p>Bippppppppp</p>
<%}%>



<%- include('partials/footer.ejs') %>